    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('user', username=report.author.username) }}">
                    <img src="{{ report.author.avatar(70) }}" />
                </a>
            </td>
            <td>
                <a href="{{ url_for('user', username=report.author.username) }}">
                    {{ report.user.username }}
                </a>
                <p>
                    {{ report.reason }}
                </p>
                <p>
                    <a target='_bank' href='{{ report.page_of_report }}'>View Issue</a>
                </p>
            </td>
            <td align="right">
                '''
                <p>
                    <form action="{{ url_for('action', id=report.id) }}" method="post">
                        {{ form2.hidden_tag() }}
                        <p>
                        Action Taken<br>
                        {{ form2.reason(size=32) }}
                         </p>
                        {{ form2.submit() }} <!Submit button repurposed to Ban button>
                    </form>
                </p>
                <br>
                '''
                <p>
                    <form action="{{ url_for('dismiss_case', id = report.id) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Dismiss') }} <!Submit button repurposed to Dismiss button>
                    </form>
                </p>
            </td>
        </tr>
    </table>

