{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    {% if title %}{{ title }} - DareToWin{% else %}Welcome to DareToWin{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">DareToWin</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('explore') }}">Explore</a></li>
                    <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        {% if current_user.id == 1 %}
                        <li class="dropdown">
                        <a class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        All Reports<span class='caret'></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class='dropdown-item' href="{{ url_for('reported_users') }}">
                                Reported Users
                                </a>
                            </li>
                            <li>
                                <a class='dropdown-item' href="{{ url_for('reported_posts') }}">
                                Reported Posts
                                </a>
                            </li>
                            <li>
                                <a class='dropdown-item' href="{{ url_for('reported_comments') }}">
                                Reported Comments
                                </a>
                            </li>
                            <li>
                                <a class='dropdown-item' href="{{ url_for('reported_general') }}">
                                General Reports</a>
                            </li>
                        </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="{{ url_for('general_report', prev = request.path) }}">
                                Report page
                            </a>
                        </li>
                        {% endif %}
                    <li>
                        <a href="{{ url_for('user', username=current_user.username) }}">
                        {{ current_user.username }}'s Profile
                        </a>
                    </li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
            {% if form0 %}
                <div class="form-inline d-flex justify-content-center md-form form-sm mt-0" style='text-align:center'>            
                {{ wtf.quick_form(form0, action = url_for("search"), method = 'POST') }}
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }} <!preserves the content from the base template>
    {{ moment.include_moment() }}
{% endblock %}
