{% extends "base.html" %}

{% block app_content %}
    <table>
        <tr class="table table-hover">
            <td width='280px'><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>
                    <span class="{{ badge_colour[user.badge] }}">{{ user.badge }}</span>
                    {{ user.username }}
                </h1>
                {% if user.about_me %}
                <p>{{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                <p>Last seen on: {{ moment(user.last_seen).format('LLL') }}</p>
                {% endif %}
                <p>{{ user.upvotes }} points</p>
                <p>{{ user.demerits }} demerits</p>
                <p>{{ user.followers.count() }}
                <a href="{{ url_for('followers', username=user.username) }}">followers</a>, 
                {{ user.followed.count() }} 
                <a href="{{ url_for('following', username=user.username) }}">following</a></p>
                {% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}">Edit your profile</a></p>
                <p><a href="{{ url_for('change_password') }}">Change password</a></p>
                {% elif not current_user.is_following(user) %} <!Current user not following this user>
                <p>
                    <form action="{{ url_for('follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Follow') }} <!Submit button repurposed to Follow button>
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value='Unfollow') }} <!Submit button repurposed to Unfollow button>
                    </form>
                </p>
                {% endif %}
                {% if user != current_user and user.id != 1 %}
                <p>
                    <a href="{{ url_for('messages', username = user.username) }}">
                        Message {{ user.username }}
                    </a>
                </p>
                {% endif %}
                <p>
                <a href="{{ url_for('specific_report', id=user.id, prev=request.path, type = 'profile') }}">
                    Report inappropriate content
                </a>
                </p>
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include '_post.html' %} <!To include sub-template _post.html>
    {% endfor %}
    {% include '_paginate.html' %}
{% endblock %}
